<form action="/items" method="post">
  <label for="length">length</label>
  <input id="length" name="length" type="text">

  <label for="width">width</label>
  <input id="width" name="width" type="text">

  <label for="height">height</label>
  <input id="height" name="height" type="text">

  <label for="weight">weight</label>
  <input id="weight" name="weight" type="text">
  <button type="submit">Submit</button>
</form>