<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<h1>Welcome to Parcel!</h1>

<!--This will go to form-->
<p><a href='/items/new'>Add a new Parcel</a></p>

<!--This will go to Views/Index-->
<p><a href='/items'>See Parcels</a></p>

