<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<form action="/items" method="post">
  <label for="length">length</label>
  <input id="length" name="length" type="number" required>

  <label for="width">width</label>
  <input id="width" name="width" type="number" required>

  <label for="height">height</label>
  <input id="height" name="height" type="number" required>

  <label for="weight">weight</label>
  <input id="weight" name="weight" type="number" required>
  <button type="submit">Submit</button>
</form>